<h1>Create New Question</h1>

<form action="/tests/<%= params[:test_id] %>/questions/" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<p>
		<label for="question-body">Question:</label>
		<input type="text" name="question[body]" id="question-body">
	</p><br>

	<p>
		<label for="question-test_id">Test id:</label>
		<input type="text" name="question[test_id]" id="question-test_id">
	</p><br>

	<input type="submit" value="Create">
</form>