<h1><%= t.('header', title: @test_passage.test.title) %></h1>
<% if @test_passage.success? %>
	<font color="green"><%= t('.success') %></font>
<% else %>
	<font color="red"><%= t('.failure') %></font>
<% end %><br>

<%= link_to t('helpers.label.test.all'), tests_path %>