<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>
<% if @test_passage.total >= 0.85 %>
	<font color="green">You successfully comleted the test!</font>
<% else %>
	<font color="red">You didn't comlete the test!</font>
<% end %><br>

<%= link_to 'All tests', tests_path %>