<div>
	<hr>
	<p>
		<%= github_url('vlados-mityuz', 'test-guru', 'View project on Github') %> | Author: Vladislav Mityukhin
	</p>

	<p>
		Platform for creating and completing tests
	</p>

	<p>
		<%= link_to 'Studying project at Thinknetica Online School', 'http://thinknetica.com/' %>
	</p>

	<p>
		<%= current_year %>
	</p>
</div>