<p>
	<strong>Title:</strong>
	<%= @test.title %>
</p>

<p>
	<strong>Level:</strong>
	<%= @test.level %>
</p>

<p>
	<strong>Quantity of questions:</strong>
	<%= @test.questions.count %>
</p>

<%= render 'shared/questions', test: @test %>